<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>lista de reservas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-alumno" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            reservas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-alumno">
                            <li>
                                <a class="dropdown-item" href="/recervas_personal">Listado</a>
                            </li>
                        </ul>
                    </li>
    </body>
</html>
