<!doctype html>

<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/estrella.png" type="image/png">
        <title>Hotel estrella</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav th:replace="plantilla :: navbar"></nav>
            </div>
        </header> 
        <!--================Header Area =================-->

        <!--================Banner Area =================-->
        <section class="banner_area">
            <form name="form" id="formulario" action="/reservacion" method="POST" class="needs-validation" novalidate>
                <div class="booking_table d_flex align-items-center">
                    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                    <div class="container">
                        <div class="banner_content text-center">
                            <h6>Lejos de la vida monótona</h6>
                            <h2>Relaja tu mente</h2>
                            <p>Si está mirando casetas vírgenes en la web, es posible que se sienta muy confundido<br> diferencia de precio. Puede ver algunos por tan solo $17 cada uno.</p>
                        </div>
                    </div>
                </div>
                <div class="hotel_booking_area position">
                    <div class="container">
                        <div class="hotel_booking_table">
                            <div class="col-md-3">
                                <h2>Reserva<br> Tu cuarto</h2>
                            </div>

                            <div class="col-md-9">
                                <div class="boking_table">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="book_tabel_item">
                                                <div class="form-group mb-4" >
                                                    <input name="fechaIngreso" class="form-control" type="text" onfocus="(this.type = 'date')" placeholder="Fecha ingreso" id="example-date-input"  required="required" th:value="${fechaIngreso}" onclick="fechaMinima(); fechaMaxima()"/>
                                                    <div class="invalid-feedback" >Complete campo</div>
                                                </div>
                                                <div class="form-group">
                                                    <input name="fechaRetiro" class="form-control" type="text" onfocus="(this.type = 'date')" placeholder="Fecha retiro" id="example-date-input"  required="required" th:value="${fechaRetiro}" onclick="fechaMinima(); fechaMaxima()"/>
                                                    <div class="invalid-feedback" >Complete campo</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group mb-4">
                                                <select class="wide" name="pieza" required="required">
                                                    <option selected disabled value="" data-display="Tipo de pieza" >Tipo de pieza</option> 
                                                    <option value="Normal">Normal</option>
                                                    <option value="VIP">VIP</option>
                                                    <option value="Presidencial">Presidencial</option>
                                                </select>
                                                <div id="pieza" class="invalid-feedback" >Complete campo</div>

                                            </div>
                                            <!--<a class="book_now_btn button_hover"   href="/reservacion">Reservar ahora</a> -->
                                            <button type="submit"  class="book_now_btn button_hover">Reservar ahora</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </section>
        <!--================Banner Area =================-->

        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Alojamiento de hotel</h2>
                    <p>Todos vivimos en una época que pertenece a los jóvenes de corazón. Vida que se está volviendo extremadamente rápida, </p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room1.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Reservar</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Habitación Normal</h4></a>
                            <h5>$5000<small>/noche</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room2.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Reservar</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Habitación VIP</h4></a>
                            <h5>$10000<small>/noche</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room3.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Reservar</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Habitacion Presidencial</h4></a>
                            <h5>$15000<small>/noche</small></h5>
                        </div>
                    </div>
                    <!--<div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/room4.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Reservar</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Economica Doble</h4></a>
                            <h5>$200<small>/noche</small></h5>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->

        <!--================ Facilities Area  =================-->
        <section class="facilities_area section_gap">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
            </div>
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_w">Instalaciones del hotel</h2>
                    <p>Que están extremadamente enamorados del sistema ecológico.</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurante</h4>
                            <p>En el restaurante del Hotel podras comer todo lo que quieras ya que tenemos cada platillo preparado para ti y cualquiera de los gustos.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Club de Deportes</h4>
                            <p>En el club de deporte podrase encontrar muchas actividades para todos tus gustos en un espacio muy amplio y tambien al aire libre.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Piscina</h4>
                            <p>En nuestras grandes piscinas podras encontrar mucha seguridad ya que tenemos guardias y instructores de natacion.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-car"></i>Alquilar un coche</h4>
                            <p>Alquila un coche para salir a donde tu quieras tenemos seguros por todo lo que pase o pueda pasar.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Gimnasio</h4>
                            <p>Usa todas nuestras maquinas del gimnacio y ademas tenemos instructores para ti.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Bar</h4>
                            <p>En nuestro bar podras encontrar variedad de tragos y en el momento que lo pidas con la mayor rapides.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Facilities Area  =================-->

        <!--================ About History Area  =================-->
        <section class="about_history_area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">Sobre nosotros<br>Nuestra historia<br>Misión y Visión</h2>
                            <p>Nuestra mision es que cada vez que vengas,veas el hotel con mayor comodidad y seguridad para mejorar cada vez tu estancia en nuestro hotel.</p>
                            <a href="#" class="button_hover theme_btn_two">Solicitar precio personalizado</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="image/about_bg_egg.jpg" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <!--================ About History Area  =================-->

        <!--================ Testimonial Area  =================-->
        <section class="testimonial_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Testimonio de nuestros clientes</h2>
                    <p>Aqui podras ver comentarios de personas que vinieron a nuestro hotel.</p>
                </div>
                <div class="testimonial_slider owl-carousel">
                    <div class="media testimonial_item">
                        <img class="rounded-circle" src="image/testtimonial-2.jpg" alt="">
                        <div class="media-body">
                            <p>Muy buen hotel con todas la comodidades y mucha atencion y esta adaptado para todos los gustos y lo mas importante es amigable con el medio ambiente.</p>
                            <a href="/"><h4 class="sec_h4">Ana Spencer</h4></a>
                            <div class="star">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="media testimonial_item">
                        <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                        <div class="media-body">
                            <p>Aseados ordenado, atención de lujo. Buena comida. Vale la pena visitarlo.</p>
                            <a href="/"><h4 class="sec_h4">Fanny Brownbear</h4></a>
                            <div class="star">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="media testimonial_item">
                        <img class="rounded-circle" src="image/persona-2.jpg" alt="">
                        <div class="media-body">
                            <p>Bien En la justa medida. Lugar limpio y agradable. Precios de acuerdo al mercado.</p>
                            <a href="/"><h4 class="sec_h4">Jessy Miranda</h4></a>
                            <div class="star">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="media testimonial_item">
                        <img class="rounded-circle" src="image/persona-3.jpg" alt="">
                        <div class="media-body">
                            <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                            <a href="/"><h4 class="sec_h4">Daniela Lisboa</h4></a>
                            <div class="star">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Testimonial Area  =================-->

        <!--================ Latest Blog Area  =================-->
        <section class="latest_blog_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">últimas publicaciones del blog</h2>
                    <p>Aqui puedes ver unas cuantas publicaciones de mi blog.</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="image/blog/blog-1.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="/#" class="button_hover tag_btn">Viaje</a>
                                    <a href="/gallery" class="button_hover tag_btn">Estilo de vida</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">Publicidad de bajo costo</h4></a>
                                <p>Acres of Diamonds ... has leído la famosa historia, o al menos la han relacionado contigo. Un granjero.</p>
                                <h6 class="date title_color">31 Enero,2020</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="image/blog/blog-2.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="#" class="button_hover tag_btn">Viaje</a>
                                    <a href="/gallery" class="button_hover tag_btn">Estilo de vida</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">Anuncios creativos al aire libre</h4></a>
                                <p>La duda y el miedo interfieren con nuestra capacidad para lograr o establecer metas. La duda y el miedo son</p>
                                <h6 class="date title_color">25 julio,2020</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="image/blog/blog-3.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="#" class="button_hover tag_btn">Viaje</a>
                                    <a href="/gallery" class="button_hover tag_btn">Estilo de vida</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">Está clasificado como utilizar gratis</h4></a>
                                <p>¿Por qué quieres motivarte? En realidad, solo responder esa pregunta completamente puede? </p>
                                <h6 class="date title_color">5 noviembre,2020</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Recent Area  =================-->

        <!--================ start footer Area  =================-->
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Acerca de la agencia</h6>
                            <p>El mundo se ha vuelto tan acelerado que la gente no quiere quedarse parada leyendo una página de información, prefieren mirar una presentación y entender el mensaje.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Enlaces de navegación</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Atributo</a></li>
                                        <li><a href="#">Servicios</a></li>
                                        <li><a href="#">Portafolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Equipo</a></li>
                                        <li><a href="#">Precios</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contacto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Boletin informativo</h6>
                            <p>Para profesionales de negocios atrapados entre un alto precio de OEM y una impresión y producción gráfica mediocres </p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Correo electrónico" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">Instagram</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                                <div id="container">
                                    <form>
                                        <!-- Username -->
                                        <label for="name">Username:</label>
                                        <input type="name" name="Ingrese contraseña" required placeholder="Ingresar nombre de usuario">
                                        <div class="invalid-feedback">Complete campo</div>
                                        <!-- Password -->
                                        <label for="username">Password:</label>
                                        <input type="password" name="Ingrese nombre" required  placeholder="Ingresar contraseña">
                                        <div class="invalid-feedback">Complete campo</div>
                                        <p><a href="#">Olvidaste tu contraseña?</a>
                                        <div id="lower">
                                            <input type="checkbox" style="
                                                      width: 20px;
                                                      height: 18px;
                                                   ">
                                            <label class="check" for="checkbox">No cerrar sesion</label>
                                            <!-- Submit Button -->
                                            <input type="submit" value="Login">
                                        </div>
                                    </form>       
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esta plantilla está hecha con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="#" target="_blank">Grupo 3</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                        <a target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--================ End footer Area  =================-->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="js/custom.js"></script>

        <script>
                            const form = document.getElementById("formulario");
                            form.addEventListener("submit", (event) => {
                                const err = document.getElementById("pieza");
                                err.style.display = "block";
                                if (err.value === "") {
                                    err.style.display = "block";
                                }
                                if (!form.checkValidity()) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }

                                form.classList.add("was-validated");
                            }, false);
        </script> 
        <script>
            function fechaMinima() {
                var input1 = new Date(document.getElementsByName('fechaIngreso')[0].value);
                var input2 = document.getElementsByName('fechaRetiro')[0];
                input1.setDate(input1.getDate() + 1);
                input2.setAttribute("min", input1.toISOString().split('T')[0]);

            }
            function fechaMaxima() {
                var input1 = new Date(document.getElementsByName('fechaRetiro')[0].value);
                var input2 = document.getElementsByName('fechaIngreso')[0];
                input1.setDate(input1.getDate() - 1);
                input2.setAttribute("max", input1.toISOString().split('T')[0]);

            }
        </script>
    </body>
</html>
