<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/estrella.png" type="image/png">
        <title>Hotel estrella</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="../static/css/fixes.css">

    </head>
    <body onload="calculate()">
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav th:replace="plantilla :: navbar"></nav>
            </div>
        </header>
        <!--================Header Area =================-->
        <!--=====================Form=======================-->
        <div class="relative reservacion_form">
            <div class="row justify-content-center h-100">
                <div class="col-sm-8 align-self-center">
                    <div class="card shadow">
                        <div class="card-body">           
                            <form id="formulario" action="/reservar" method="POST">
                                <div class="form-group mb-4">
                                    <label for="example-date-input" >Fecha llegada</label>
                                    <div>
                                        <input name="fechaIngreso" class="form-control" type="date" value="2021-01-19"  id="fechaIngreso" required="required" th:value="${fechaIngreso}" onchange="calculate()"onclick="fechaMinima(); fechaMaxima()"/>
                                    </div>
                                    <div class="invalid-feedback">La fecha de llegada es obligatoria</div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="example-date-input">Fecha retirada</label>
                                    <div>
                                        <input name="fechaRetiro" class="form-control" type="date"  value="2021-01-25" id="fechaRetiro" required="required" th:value="${fechaRetiro}" onchange="calculate();" onclick="fechaMinima(); fechaMaxima()"/>
                                    </div>
                                    <div class="invalid-feedback">La fecha de retirada es obligatoria</div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-floating mb-6 col-xl-6">
                                        <label for="pieza">Pieza</label>
                                        <select class="wide" name="pieza" required="required" onchange="calculate()"/>
                                        <option selected disabled value="" data-display="Tipo de pieza" >Tipo de pieza</option> 
                                        <option value="Normal" th:selected="${pieza=='Normal'}">Normal</option>
                                        <option value="VIP" th:selected="${pieza=='VIP'}">VIP</option>
                                        <option value="Presidencial" th:selected="${pieza=='Presidencial'}">Presidencial</option>
                                        </select>
                                        <div class="invalid-feedback">La pieza es obligatoria</div>
                                    </div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-floating mb-6 col-xl-6">
                                        <label for="nombre">Nombre</label>
                                        <input name="nombre" class="form-control fw-bold" type="text" placeholder="Nombre" required="required" />
                                        <div class="invalid-feedback">El nombre es obligatorio</div>
                                    </div>
                                    <div class="form-floating col-xl-6">
                                        <label for="apellido">Apellido</label>
                                        <input name="apellido" class="form-control fw-bold" type="text" placeholder="Apellido"
                                               required="required" />
                                        <div class="invalid-feedback">El apellido es obligatorio</div>
                                    </div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-floating col-xl-6">
                                        <label for="RUT">RUT</label>
                                        <input name="rut" class="form-control fw-bold" type="text" placeholder="11.111.111-9"
                                               required="required" />
                                        <div class="invalid-feedback">El RUT es obligatorio</div>
                                    </div>
                                    <div class="form-floating col-xl-6">
                                        <label for="edad">Edad</label>
                                        <input name="edad" class="form-control fw-bold" type="text" placeholder="21"
                                               required="required" />

                                        <div class="invalid-feedback">La edad es obligatorio</div>
                                    </div>
                                </div>
                                <div class="form-row mb-5">
                                    <div class="form-floating col-xl-6">
                                        <label for="Email">Email</label>
                                        <input name="mail" class="form-control fw-bold" type="text" placeholder="Email"
                                               required="required" />
                                        <div class="invalid-feedback">El Email es obligatorio</div>
                                    </div>
                                </div>

                                <h2 class="title_color" id="output">El valor es: </h2>

                                <div class="col-md-8 text-right">
                                    <button type="submit" value="submit" class="btn theme_btn button_hover">Enviar reserva</button>
                                </div>
                            </form>       
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </body>
    <!--=====================Form=======================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Acerca de la agencia</h6>
                        <p>El mundo se ha vuelto tan acelerado que la gente no quiere quedarse parada leyendo una página de información, prefieren mirar una presentación y entender el mensaje. Ha llegado a un punto </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Enlaces de navegación</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Atributo</a></li>
                                    <li><a href="#">Servicios</a></li>
                                    <li><a href="#">Portafolio</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Equipo</a></li>
                                    <li><a href="#">Precios</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Boletin informativo</h6>
                        <p>Para profesionales de negocios atrapados entre un alto precio de OEM y una impresión y producción gráfica mediocres, </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Correo electrónico" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">Instagram</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esta plantilla está hecha con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="#" target="_blank">Grupo 3</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
                        const form = document.getElementById("formulario");
                        form.addEventListener("submit", (event) => {
                            const err = document.getElementById("pieza");
                            err.style.display = "block";
                            if (err.value === "") {
                                err.style.display = "block";
                            }
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add("was-validated");
                        }, false);
    </script> 
    <script >
        function calculate() {
            var input1 = document.getElementsByName('fechaIngreso')[0].value;
            var input2 = document.getElementsByName('fechaRetiro')[0].value;
            var input3 = document.getElementsByName('pieza')[0].value;

            var fechaIngreso = new Date(input1);
            var fechaRetiro = new Date(input2);
            var precio = 0;
            switch (input3) {
                case "Normal":
                    precio = 5000;
                    break;
                case "VIP":
                    precio = 10000;
                    break;
                case "Presidencial":
                    precio = 15000;
                    break;
            }
            var diferenciaDeTiempo = fechaRetiro.getTime() - fechaIngreso.getTime();
            var dias = diferenciaDeTiempo / (1000 * 3600 * 24);


            document.getElementById('output').innerHTML =
                    `<div class='result'>${"El valor es: " + (dias * precio).toLocaleString()}</div>`;

        }
        function fechaMinima() {
            var input1 = new Date(document.getElementsByName('fechaIngreso')[0].value);
            var input2 = document.getElementsByName('fechaRetiro')[0];
            input1.setDate(input1.getDate() + 1);
            input2.setAttribute("min", input1.toISOString().split('T')[0]);

        }
        function fechaMaxima() {
            var input1 = new Date(document.getElementsByName('fechaRetiro')[0].value);
            var input2 = document.getElementsByName('fechaIngreso')[0];
            input1.setDate(input1.getDate() - 1);
            input2.setAttribute("max", input1.toISOString().split('T')[0]);

        }
    </script>
</body>
</html>